*::selection {
    background: rgb(136, 136, 136);
    color: rgb(255, 145, 0);
  }

main {
    background: linear-gradient(#c772e0,#356bbb);
    font-family: Helvetica;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
    background: linear-gradient( #2e5b9e,#356bbb);
}

.name {
    font-size: 200%;
    color:azure;
    background-color: teal;
    color:#272727;
    transition: color 1s ease-in-out;
}

.name:hover {
    box-shadow: inset 500px 0 0 0 #356bbb;
    color: white;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -75px;
    width: 500px;
    height: 110px;
}

ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.zelda {
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: #ffffff;
    border-radius: 0px 0px 150px 150px;
}

.text-block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color:#575757;
    color: azure;
    height: 100px;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 150px 0px;
  }

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

#about {
    margin-left: 23.5%;
    padding-left: 3%;
    text-align: right;
    margin-right: 3%;
    border-right: 5px solid #ccc;
    height: 125px;
}

.me{
    font-size: 225%;
    color:azure;
    margin-left: 3%;
    text-align:justify;
    padding-bottom: 10%;
    padding-top: 10%;
}

#pic {
    border-radius: 100px;
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
}

.work {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    padding-right: 5%;
}

#work {
    text-align: right;
    padding-right: 2.5%;
    border-right: 5px solid #ccc;
    height: 1500px;
}

#images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

#images img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    }

#images img:hover {
    -webkit-filter: brightness(100%);
    }

.img1 {
    position: relative;
    margin-top: -1550px;
}

#img1 {
    height: 650px;
    width: 870px;
}

.img2 {
    position: relative;
    margin-left: -450px;
}
.img3 {
    position: relative;
    margin-left: 450px;
    margin-top: -295px;
}

#img3, #img2  {
    height: 275px;
    width: 425px;
}

.text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color:#575757;
    color: white;
    height: 50px;
    width: 170px;
  }

img {
    border: #575757 solid 5px;
    margin-bottom: 15px;
    
}

a {
    color: azure;
    font-weight: bold;
    text-decoration: underline solid 5px #ffffff; 
  }

a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 5px 10px #808080;
  }

h2 {
    font-size: 200%;
    color: azure;
    padding-right: 2%;
  }

.con{
    text-decoration: underline solid 5px #4b4b4b;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:azure ;
  }
  
footer {
    background: linear-gradient(#808080, #4b4b4b);
}


.nav2 {
    margin-top: 30px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
}

#nav2 {
    display:flex;
   justify-content: space-between;

}


@media screen and (max-width: 900px) {
    main {
      background: linear-gradient( #2e5b9e,#356bbb);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
    }
  }

@media screen and (max-width: 900px) {
    header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5%;
      background: linear-gradient(#c772e0,#356bbb)
    }
  }

@media screen and (max-width:900px){
  .zelda  {
        position: relative;
        width: 100%;
        height: auto;
        border-bottom: #ffffff;
        border-radius: 0px 0px 150px 150px;
}
}

@media screen and (max-width:900px){
    .text-block1
    {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color:#575757;
    color: azure;
    height: 50px;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 0px 150px 0px;
    }
}

  @media screen and (max-width:900px) {
 .name {
    font-size: 100%;
    color:rgb(255, 255, 255);
    background-color: rgb(117, 11, 255);
    margin-right: 10px;
 }
}

@media screen and (max-width:900px) {
    #matt {
       margin-left: 50px;
    }
   }

@media screen and (max-width:900px){
    .about {
    font-size: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin-right: 50px;
    }
}

@media screen and (max-width:900px){
    #pic {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 150px;
        height: 150px;
    }
    
}

@media screen and (max-width:900px) {
    .me {
        text-align: center;
        margin-left: 50px;
        font-size: 250%;
  }
}

@media screen and (max-width:900px) {
    .work {
       margin-left: 100px;
        border:none;
    }
}

@media screen and (max-width:900px) {
    #work {
        margin-left: 75px;
        margin-bottom: 50px;
        text-align: right;
        padding-right: 2.5%;
        border:none;
        height: -1500px;
    }
}

@media screen and (max-width:900px) {
    #images {
    margin-top: -1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
}

@media screen and (max-width:900px) {
   .img1 {
    height: auto;
    max-width: 100%;
    margin: auto;
    display: block;
  
}
}

@media screen and (max-width:900px) {
    #img1 {
        height: auto;
        max-width: 100%;
        float: left;
     max-width: 100%;
     margin: auto;
     display: block;
   
    
 }
 }

 @media screen and (max-width:900px) {
    .img2 {
        height: auto;
     max-width: 100%;
     float: left;
     max-width: 100%;

     margin: auto;
     display: block;
   
 }
 }

 @media screen and (max-width:900px) {
    #img2 {
        height: auto;
        max-width: 100%;
        float: left;
     max-width: 100%;
     margin: auto;
     display: block;
   
 }
 }

 @media screen and (max-width:900px) {
    #img3 {
     
        height: auto;
        max-width: 100%;
        float: left;
     max-width: 100%;
     margin: auto;
     display: block;
   
 }
 }

 @media screen and (max-width:900px) {
    .img3 {
        height: auto;
        max-width: 100%;
        float: left;
     max-width: 100%;
     margin: auto;
     display: block;
   
 }
 }

 @media screen and (max-width:900px) {
    .nav2 {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 50px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 150%;
        color: azure;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
 }
 }

 @media screen and (max-width:900px) {
    .email, .git, .twitter, .apple {
        
        margin-bottom: 10px;
        padding-bottom: 10px;
        
 }
 }
