main {
    background: linear-gradient(#c772e0,#356bbb);
    font-family: Helvetica;
}

header {
    height: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
}



.name {
    font-size: 200%;
    color:azure;
    background-color: teal; 
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 110px;
}

.nav {
    text-decoration: underline solid 5px #ffffff;
}

ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.about {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    padding-right: 5%;
    padding-top: 5%;
    
}

#about {
    text-align: right;
    margin-right: 5%;
    padding-right: 5%;
    border-right: 5px solid #ccc;
    height: 125px;
}

.me{
    font-size: 225%;
    color:azure;
    margin-left: 5%;
    text-align:justify;
    text-justify:inter-word;
}

#pic {
    border-radius: 100px;
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    
}
.work {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    padding-right: 5%;
}

#work {
    text-align: right;
    padding-right: 6.3%;
    border-right: 5px solid #ccc;
    height: 900px;
}

#images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

.img1 {
    position: relative;
    margin-top: -1150px;
}

.img2 {
    position: relative;
    margin-left: -300px;
}
.img3 {
    position: relative;
    margin-left: 340px;
    margin-top: -167px;
}

#img3 {
    height: 150px;
    width: 300px;
}

#img2 {
    height: 150px;
    width: 300px;
}



.text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-color:#575757;
    color: white;
    height: 50px;
    width: 150px;
    
  }

img {
    border: #575757 solid 5px;
    margin-bottom: 15px;
    
}

a {
    color: #575757;
    font-weight: bolder;

    
  }

a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 5px 10px #808080;
  }

  h2 {
    font-size: 200%;
    color: azure;
    padding-right: 10%;
  }

  .con{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#808080 ;
  }
  
  footer {
    
   
}


.nav2 {
    margin-top: 30px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
}

#nav2 {
    display:flex;
   justify-content: space-between;

}
